body{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin:0;
}
.header{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
}
.container{
	position: relative;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer{
	position: relative;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff5;
}
.input_layer{
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
#input_data{
	position: relative;
	width: calc( 100% - 70px );
	height: 30px;
	color : #50505f;
	border : 0;
	outline: none;
	border-bottom: 1px solid #1fda69;

}
#input_data:focus{

	border-bottom: 2px solid #00a1fd;
}
#input_button{
	position: relative;
	width: 50px;
	height: 36px;
	margin-left: 5px;
	background-color: #1fda69;
	border: 0;
	border-radius: 10px;
	color : #50505f;
	cursor: pointer;
	font-weight: 800;
}
.toto_list{
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.todo_item{
	position: relative;
	width: calc( 100% - 25px);
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: flex-start;
	margin-top: 10px;
	padding: 10px;
	background-color: #00a1fd;
	border-left: 8px solid #ffc525;
	font-weight: 600;
	border-radius: 0 10px 10px 0;
}
.todo_time{
	position: relative;
	align-self: flex-end;
	margin-right: 10px;
}
.ko_text{
	padding: 5px;
}
.en_text{
	padding: 5px;
}
.fas{
	color :#1fda69 ;
	margin-right: 10px;
}